.week-counter {
  position: fixed;
  bottom: 0;
  background-color: var(--week-counter-bg);
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid var(--week-counter-line-color);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.3s, width 0.3s;
}

.week-counter button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.week-counter button:disabled {
  cursor: not-allowed;
}

.week-counter span {
  margin: 0 16px;
}

.week-counter button svg {
  font-size: 20px;
}
