.add-button {
  display: block;
  width: 24px;
  height: 24px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 50%;
  background-color: var(--add-button);
  color: white;
}

.container {
  width: 100%;
  transition: width 0.3s;
}

.card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bottom-space {
  height: 30px;
}
